@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lapscrap Viewer</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Notebook search engine</h2>
        <p>
            Laptops nach Komponenten und Kriterien Filtern
        </p>
        <p><a class="btn btn-default" href="#">filtern &raquo;</a></p>
    </div>
</div>